:root {
    /*secondary */
    --primary-0: hsl(268,100%, 96%, 100%);
    --primary-1: hsl(265,40%, 86%, 100%);
    --primary-2: hsl(266,33%, 75%, 100%);
    --primary-3: hsl(264,32%, 65%, 100%);
    --primary-4: hsl(265,31%, 55%, 100%);
    --primary-5: hsl(265,31%, 45%, 100%);
    --primary-6: hsl(265,32%, 35%, 100%);
    --primary-7: hsl(263,32%, 25%, 100%);
    --primary-8: hsl(266,36%, 15%, 100%);
    --primary-9: hsl(265,55%, 6%, 100%);

    /* Secondary */
    --secondary-0: hsl(43,100%, 93%, 100%);
    --secondary-1: hsl(41,100%, 84%, 100%);
    --secondary-2: hsl(40,98%, 75%, 100%);
    --secondary-3: hsl(40,97%, 65%, 100%);
    --secondary-4: hsl(40,97%, 55%, 100%);
    --secondary-5: hsl(40, 97%, 45%, 100%);
    --secondary-6: hsl(40,100%, 34%, 100%);
    --secondary-7: hsl(40,100%, 25%, 100%);
    --secondary-8: hsl(40,100%, 15%, 100%);
    --secondary-9: hsl(33,100%, 6%, 100%);
       
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
    font-family: 'Lexend Deca', serif;
    background-color: #f5f5f5;
    padding: 0;
    line-height: 1.4;
    font-size: 16px;
    margin: 0 auto;
}
.header-section{
    display: flex;
    justify-content:space-evenly;
    margin: 1.5rem auto;
}
.company-logo{

}
.navbar{
    position: fixed;
    width: 100%;
    height: 60px;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    background-color: white;
    z-index: 1000;
}

.nav-links{
    display: flex;
    justify-content: center;
    list-style: none;
}
.nav-item{
    margin: 0 5px;
}
.nav-link{
    display: inline-block;
    width: 100%;
    padding: 0.5em;
    margin: 10px;
    text-decoration: none;
    vertical-align: top;
}
a {
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
}
.nav-link:hover{
    background-color: #423275;
    color: whitesmoke;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
}

.menu-btn{
    display: none;
}

.nav-breadcrumb{
    padding: 0.2em 1em;
    margin: 0 20px;
    color: #555;
    max-width: 1000px;
    width: 100%;
}
.nav-breadcrumb nav{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.breadcrumb-item{
    text-decoration: none;
    color: #5a4dad;
    padding: 0.5em;
    transition: color 1s;
}
.breadcrumb-item:hover{
    color: #3c2f84;
    text-decoration: underline;
}
.breadcrumb-separator{
    font-size: 1.2rem;
    margin: 12px 5px;
    color: #bbb;
}
h1{
    font-size: 2.5rem;
    line-height: 1.2;
}
h2{
    font-size: 2.0rem;
    line-height: 1.2;
}
h3{
    font-size: 1.5rem;
    line-height: 1.2;
}
h4{
    font-size: 1.2rem;
    line-height: 1.2;
}
p{
    font-size: 1.2rem;
    line-height: 1.5;
}
li{
    font-size: 1.2rem;
    line-height: 1.5;
    text-decoration: none;
    list-style: none;
}
span{
    font-size: 1.2rem;
    line-height: 1.5;
}
#main{
    margin-top: 60px;
}

.hero-section {
    height: 75vh;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    line-height: 1.6;
    text-align: center;
    padding: 0 1em;
}
.hero-title{
    padding: 5px 10px;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 5rem;
}
.hero-subtitle{
    padding: 0.5em 2em;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    font-weight: 600;
}
.hero-caption{
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 1.2rem;
    padding:0.5em 2.5em;
}

.hero-buttons{
    display: flex;
    justify-content: center;
    color: whitesmoke;
    gap: 1rem;
}

.btn{
    margin-top: 1.5rem;
    border-radius: 5px;
    outline: none;
    padding: 0.5em 1em;
    color: white;
    background-color: #423275;
    display: inline-block;
    margin-right: 1rem;
    text-decoration: none;
    vertical-align: top;
}
.btn:hover{
 /*  Add the lift effect from the notes*/
    background-color: #9d94d1;
    position: relative;
    transition: top .2s ease;
}

.services-container {
    margin: 3rem auto;
    min-height: 50vh;
    padding: 3em;
}

/* Work on the font title*/
.services-title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
}
.services-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    gap: 2rem;
}
.service-card{
    min-height: 150px;
    margin: 2rem auto;
    padding: 1rem;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    border: 1px solid white;
    background-color:#fff;
    border-radius: 1rem;
    box-shadow: 2px 5px 5px #6f619f;
}
.service-card:hover{
    box-shadow: 10px 10px 10px #6f619f;
}

.service-card .label{
    display: block;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.service-card .value{
    padding:0.5rem 1rem;
    font-size: 1.5rem;
}
.stats{
    width: 100%;
    text-align: center;
    margin: 1rem auto;
    background-color:var(--secondary-4);
    height: 30vh;
    padding: 1.2em 1.5em;
    display: flex;
    flex-direction: row;
}
.stats-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    text-align: center;
}
.stats-card:hover{
    transition: 1s ease-in-out;
}
.stat{
    padding: 0.2em 1.5em;
    margin: 1rem auto;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    flex-direction: column;
    background-color: rgba(230, 230, 236, 0.29);
    padding: 2em;
}

.footer-label{
    display: inline-block;
    color: rgba(57, 55, 55, 0.6);
    margin-top: 1.5rem;
    text-align: center;
}
.footer-address{
    padding: 1rem;
}

.footer-address p{
    margin: 0.2rem auto;
    padding: 0.2em;

}
/* Back to the top button */
.back-to-top{
    position: fixed;
    bottom: 20px;
    right: 20px;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s,visibility 0.3s ease;
}

/* Case Studies */

.case-studies-container{
    padding: 1em;
    margin: 1rem auto;
    list-style: none;
    text-align: center;
    /*height: 100vh;*/
}
.case-studies{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2em auto;
}
.case-study{
    width: 100%;
    max-width: 800px ;
    margin:2em auto;
    background: #fff;
    border-radius: 12px;
    box-shadow: 2px 5px 10px #6f619f;
    overflow: hidden;
    padding: 2em;
}
.case-study:hover{
    box-shadow: 10px 10px 10px 10px #6f619f;
    transition: .3s ease;
}

.company-info{
    margin: 1rem auto;
    padding: 1em;
    width: 500px;
    align-items: center;
    color: #313135;
    background: #fff;
    border-radius: 12px;
    box-shadow: 2px 5px 10px #6f619f;
    overflow: hidden;
}
.info-item{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-bottom: 1px solid #f0f0f0;
    padding: 0.5em;
}
.info-item:last-child{
    border-bottom: none;
}
.company-info .label{
    text-align: left;
    width: 200px;
}
.company-info .value{
    flex: 1 ;
    text-align: right;
}

.company-details{
    margin: 0.5em auto;
    padding: 1em
}

.company-challenge{
    padding: 1em;
}
.company-solution{
    padding: 1em;
}
.company-results{
    padding: 1em;
}
.company-result{
    display: inline-block;
    /*display: flex;*/
    /*justify-content: center;*/
    /*flex-wrap: wrap;*/
    border-bottom: 1px solid #f0f0f0;
    padding: 0.5em;
}
.company-result:last-child{
    border-bottom: none;
}
.company-result .label{
    margin: 0 0.5rem;
}
.testimonials{
    padding: 1em;
}
table{
    border: 1px solid red;
    width: 80%;
    border-collapse: collapse;
    margin: 5px auto;
    padding: 5px;
}

/* ROI Calculator*/
.roi-calculator{
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 300px;
}
.roi-calculator h3{
    margin: 1em auto;
    padding: 1em;
}
.roi-calculator-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1em auto;
    padding: 1em;
    background:#fff;
    border-radius: 12px;
    box-shadow: 2px 5px 10px var(--primary-4);
}
.roi-calculator-card:hover{
    box-shadow: 10px 10px 10px var(--primary-4);
    transition: .3s ease;
}
.roi-metrics{
    padding: 1em;
}
.roi-metrics h4{
    margin: 0;
}
.roi-metric{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 1rem 1.5rem;
    border-bottom: 1px solid rgba(230, 230, 236, 0.29);
    padding: 0.2em
}

/* Case Study Customer Testimonials*/
.customer-testimonials-container{
    padding: 1em;
}
.testimonials-title{
    padding: 1em;
    text-align: center;
}
.testimonials-card{
    width: calc(33% - 100px);
    display: inline-block;
    box-sizing: border-box;
    padding: 2em;
    margin: 1.5rem 3rem;
}
.testimonials-content{
    padding: 0.5em;
    text-align: center;
}
.testimonial-name{
    padding: 0.2em;
    margin: 0.5rem 2rem;
    text-align: center;
    color: #6f619f;
    font-size: 1rem;
    font-weight: bold;
}


/* ABOUT PAGE*/
.about-us-container{
    height: 70vh;
    padding: 1em;
    text-align: center;
    margin: 0.5em auto;
}
.company-story{
    padding: 1em;
    text-align: center;
}
.about-us-text p{
    width: 80%;
    margin: 0.2rem auto;
    padding: 0.2em;
    text-align: center;
    font-size: 1.5rem
}
.about-us-container h2 {
    margin: 1rem auto;
    padding: 1em;
}

/*Team*/
.team{
    padding: 1em;
    text-align: center;
}
.team-members{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1em;
}
.team-member-card{
    margin: 2rem auto;
    padding: 0.8em;
    width: 600px;
    color: #313135;
    background: #fff;
    border-radius: 12px;
    box-shadow: 2px 5px 10px var(--primary-4);
    overflow: hidden;
}
.team-member-card:hover{
    box-shadow: 10px 10px 10px var(--primary-5);
    transition: .2s ease-in-out;
}
.team-member-card-item{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid #f0f0f0;
    padding: 0.5em;
}
.team-member-card-item:last-child{
    border-bottom: none;
}
.team-member-card-item .label{
    text-align: left;
}
.team-member-card-item .value{
    flex: 1 ;
    text-align: end;
}
.company-values{
    margin: 3rem auto;
    padding: 1em;
    text-align: center;
}
.value-item{
   margin: 1rem auto;
    padding: 1em;
}
.value-item h2{
    margin: 2rem auto;
    padding: 1em;
}
.value-item p {
    margin: 0.2em auto;
}
.company-stats h2{
    margin: 0.5em auto;
    padding: 0.2em;
    text-align: center;
}

/* CONTACT PAGE */
.company-details-container{
    padding: 1em;
    text-align: center;
    width: 100%;
    align-content: center;
    margin: 0.5rem auto;
    border-radius: 4px;
}
.company-details{
    padding: 1em;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-information{
    margin: 0 auto;
    padding: 2em;
    text-align: center;
    align-content: center;
    /*height: 100vh;*/
}
.contact-details{
    margin: 1em auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.phone-numbers-card{
    margin: 1rem auto;
    padding: 2em;
    background-color: #fff;
    box-shadow: 2px 5px 10px var(--primary-3);
    border-radius: 15px;
}
.phone-numbers-card:hover{
    box-shadow: 10px 10px 10px var(--primary-4);
    transition: .2s ease-in-out;
}
.phone-number h3{
    margin: 1.5rem auto;
    color: var(--primary-8);
}
.phone-number-item{
    margin: 0.2em auto;
    padding: 0.5em;
}
.email-addresses-card{
    margin: 1rem auto;
    padding: 2em;
    background-color: #fff;
    box-shadow: 2px 5px 10px var(--primary-3);
    border-radius: 15px;
}
.email-addresses-card:hover{
    box-shadow: 10px 10px 10px var(--primary-4);
    transition: .2s ease-in-out;
}
.email-addresses-card h3{
    margin: 1rem auto;
    color: var(--primary-8);
}
.email-address-item{
    margin: 0.2em auto;
    padding: 0.5em;
}
.business-hours-card{
    margin: 1rem auto;
    padding: 1em;
    background-color: #fff;
    box-shadow: 2px 5px 10px var(--primary-3);
    border-radius: 15px;
}
.business-hours-card:hover{
    box-shadow: 10px 10px 10px var(--primary-3);
    transition: .2s ease-in-out;
}
.business-hours-card h3{
    margin: 0.5rem auto;
    padding: 0.5em;
    color: var(--primary-8);
}
.business-hours-item{
    margin: 0.2em auto;
    padding: 0.5em;
}
.emergency-support{
    margin: 0.7rem auto;
    padding: 1em;
}
.emergency-support h3{
    margin: 1rem auto;
}
.emergency-support p{
    margin: 0.2em auto;
    padding: 0.5em;
    color: var(--primary-5);
}
.contact-aside-section {
    display: flex;
    gap: 2rem;
    margin: 0 auto;
    flex-wrap: wrap;
    padding: 1em;
}

.contact-form {
    flex: 2;
    min-width: 300px;
    padding: 1em;
}
.aside-container {
    flex: 1;
    min-width: 200px;
    padding: 1em;
}

/*!* FORM STYLING *!*/
.contact-form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 1em auto;
    padding: 1em;
}
.form-container{
    max-width: 800px;
    align-items: center;
    width: 100%;
    margin: 2rem auto;
    padding: 2em;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px  10px #6f619f;
}
.form-group{
    margin-bottom: 2rem;
}
label{
    display: block;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: #333;
    font-size: 1rem;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="url"],
select,
textarea {
    width: 100%;
    padding: 1rem 2rem;
    border: 1px solid grey;
    border-radius: 6px;
    display: block;
    font-size: 1rem;
    font-family: inherit;
    background-color: #fff;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}
input:focus,
textarea:focus,
select:focus{
    outline: none;
    border-color: purple;
    box-shadow: 0 0 0 3px rgba(66, 50, 117, 0.79);
}
.select-wrapper{
    position: relative;
}
select{
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23007bff' d='M8 11L3 6h10l-5 5z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 12px;
    padding-right: 4em;
    cursor: pointer;
}
.select:focus{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23007bff' d='M8 11L3 6h10l-5 5z'/%3E%3C/svg%3E");

}
textarea{
    resize:vertical;
    min-height: 100px;
    line-height: 1.5;
}
textarea:focus{
    min-height: 120px;
}
/* Character counter*/
.textarea-group{
    position: relative;
}
.textarea-group:after{
    position: absolute;
    content: attr(data-length) '/' attr(data-max);
    bottom: 12px;
    right:12px;
    font-size: 1.2rem;
    color: #666;
    background: rgb(255,255,255,0.9);
    padding: 0.2em 0.2em;
    border-radius: 3px;
}
/* Custom Check box*/
/* TODO:: Add this*/
/* Fieldset*/
fieldset{
    border-radius: 12px;
    position: relative;
    width: 100%;
    padding: 1em;
    margin: 1.5rem auto;
}
fieldset legend{
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}
.form-group{
    margin-bottom: 2rem;
}
/* Required asterisk */
label.required::after {
    content: ' *';
    color: var(--primary-5);
    font-weight: bold;
}
/* Required field highlighting */
input:required {
    border-left: 4px solid var(--secondary-4);
}
input:required:valid {
    border-left-color: var(--primary-4);
}
input:required:invalid:not(:placeholder-shown) {
    border-left-color: var(--primary-5);
}
.office-locations-section{
    background-color: white;
    text-align: justify;
    width: 100%;
    align-content: center;
    margin: 0.5rem auto;
    padding: 1em;
    border-radius: 4px;
    box-shadow: 1px 4px 5px var(--primary-3);

}
.office-locations-section h3,h4{
    margin: 0.5rem auto;
    text-align: center;
}
.office-locations-section span{
    color: var(--primary-4);
}
.office-locations-section p{
    margin: 1rem auto;
}
.location{
    margin: 2rem auto;
    text-align: center;
}
.quick-actions-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: white;
    padding: 1em;
    margin: 0.5em auto;
    box-shadow: 1px 4px 5px var(--primary-3);
}
.quick-action{
    text-align: center;
    margin: 1rem auto;
}
.quick-action a{
    text-decoration: none;
    color: var(--primary-4);
}
.quick-action a:hover{
    text-decoration: underline;
    color: var(--primary-6);
}
/*Media Queries for Responsiveness on small screens*/
@media(max-width: 768px){
    .nav-item{
        display: none;
    }
    .menu-btn{
        display:inline-block;
    }
    .services-container{
        padding: 1.5rem;

    }
    .services-cards{
        text-align: center;
    }
    .service-card{
       width: 100%;
    }
    .stats {
        text-align: center;
        padding: 1em;
        display: inline-block;
    }

    .stats-card{
        margin: 1em auto;
        width:100%;
        text-align: center;
        display: inline-block;
    }
    .team-members{
       display: grid;
        grid-template-columns: 1fr;
    }
    .team-member-card{
        width: 100%;
        text-align: center;
    }

    .contact-aside-section{
        display: inline-block;
    }

    .form-container{
        grid-template-columns:1fr;
    }
    /* Case Studies*/
    .company-result{
        padding: 1em;
    }
    .footer{
        padding: 0;
        text-align: center;
        width: 100%;
        display:inline-block;
    }

}

/*@media(max-width: 480px){*/
/*    .navbar{*/
/*        display: none;*/
/*    }*/
/*    .services-container{*/
/*        font-size: 1.25rem;*/
/*    }*/
/*    .service-card{*/
/*        flex: 1 1 100%;*/
/*    }*/
/*}*/
